sample-webapp/sample

deploy-test/id_rsa/id_rsa
deploy-test/id_rsa/id_rsa.pub

hosts/hosts.txt

pprof/profilefiles/fgprof.pprof
pprof/profilefiles/fgprof.pprof.*
pprof/profilefiles/*/fgprof.pprof
pprof/profilefiles/*/fgprof.pprof.*

kataribe/webserver-log/access.log
kataribe/output/kataribe.txt

alp/log/access.log
alp/log/access.log.bk.*
alp/log/*/access.log
alp/log/*/access.log.*
alp/output/*
!alp/output/.gitkeep

ansible/production/hosts.yaml

pt-query-digest/output/*
!pt-query-digest/output/.gitkeep

mysql-slowquery/mysql-slowquery-log/mysql-slow.log
mysql-slowquery/mysql-slowquery-log/mysql-slow.log.*
mysql-slowquery/mysql-slowquery-log/*/mysql-slow.log
mysql-slowquery/mysql-slowquery-log/*/mysql-slow.log.*

configs/mysql/*
!configs/mysql/.gitkeep

configs/nginx/*
!configs/nginx/.gitkeep