HOST1="localhost"
HOST1_SSH_PORT=2222
HOST1_SSH_USER="root"
HOST1_SSH_PRIVATE_KEY_PATH="./deploy-test/id_rsa/id_rsa"
HOST1_APP_DEPLOY_DIR="/root/webapp"
HOST1_APP_SYSTEMCTL_SERVICE_NAME="host1"

HOST2="localhost"
HOST2_SSH_PORT=2223
HOST2_SSH_USER="root"
HOST2_SSH_PRIVATE_KEY_PATH="./deploy-test/id_rsa/id_rsa"
HOST2_APP_DEPLOY_DIR="/root/webapp"
HOST2_APP_SYSTEMCTL_SERVICE_NAME="host1"

ALL_HOSTS=($HOST1 $HOST2)
ALL_HOSTS_SSH_PORT=($HOST1_SSH_PORT $HOST2_SSH_PORT)
ALL_HOSTS_SSH_USER=($HOST1_SSH_USER $HOST2_SSH_USER)
ALL_HOSTS_SSH_PRIVATE_KEY=($HOST1_SSH_PRIVATE_KEY_PATH $HOST2_SSH_PRIVATE_KEY_PATH)
ALL_HOSTS_NUMS=${#ALL_HOSTS[@]}

# Below variables are referenced by scripts. 
FRONTEND_HOSTS=($HOST1)
FRONTEND_HOSTS_SSH_PORT=($HOST1_SSH_PORT)
FRONTEND_HOSTS_SSH_USER=($HOST1_SSH_USER)
FRONTEND_HOSTS_SSH_PRIVATE_KEY=($HOST1_SSH_PRIVATE_KEY_PATH)
FRONTEND_HOSTS_PATH=($HOST1_APP_DEPLOY_DIR)
FRONTEND_HOSTS_NUMS=${#FRONTEND_HOSTS[@]}

APP_HOSTS=($HOST1)
APP_HOSTS_SSH_PORT=($HOST1_SSH_PORT)
APP_HOSTS_SSH_USER=($HOST1_SSH_USER)
APP_HOSTS_SSH_PRIVATE_KEY=($HOST1_SSH_PRIVATE_KEY_PATH)
APP_HOSTS_PATH=($HOST1_APP_DEPLOY_DIR)
APP_HOSTS_NUMS=${#APP_HOSTS[@]}

DB_HOSTS=($HOST2)
DB_HOSTS_SSH_PORT=($HOST2_SSH_PORT)
DB_HOSTS_SSH_USER=($HOST2_SSH_USER)
DB_HOSTS_SSH_PRIVATE_KEY=($HOST2_SSH_PRIVATE_KEY_PATH)
DB_HOSTS_PATH=($HOST2_APP_DEPLOY_DIR)
DB_HOSTS_NUMS=${#DB_HOSTS[@]}