ISU1="localhost"
ISU1_SSH_PORT=2222

FRONTEND_HOSTS=($isu1)
FRONTEND_HOSTS_SSH_PORT=($ISU1_SSH_PORT)
FRONTEND_HOSTS_NUMS=${#FRONTEND_HOSTS[@]}

APP_HOSTS=($isu1)
APP_HOSTS_SSH_PORT=($ISU1_SSH_PORT)
APP_HOSTS_NUMS=${#APP_HOSTS[@]}

DB_HOSTS=($isu1)
DB_HOSTS_SSH_PORT=($ISU1_SSH_PORT)
DB_HOSTS_NUMS=${#DB_HOSTS[@]}