ISU1="localhost"
ISU1_SSH_PORT=2222
ISU1_SSH_USER="root"
ISU1_SSH_PRIVATE_KEY_PATH="./deploy-test/id_rsa/id_rsa"
ISU1_DIR_NAME="host1"

ISU2="localhost"
ISU2_SSH_PORT=2223
ISU2_SSH_USER="root"
ISU2_SSH_PRIVATE_KEY_PATH="./deploy-test/id_rsa/id_rsa"
ISU2_DIR_NAME="host2"

ALL_HOSTS=($ISU1 $ISU2)
ALL_HOSTS_SSH_PORT=($ISU1_SSH_PORT $ISU2_SSH_PORT)
ALL_HOSTS_SSH_USER=($ISU1_SSH_USER $ISU2_SSH_USER)
ALL_HOSTS_SSH_PRIVATE_KEY=($ISU1_SSH_PRIVATE_KEY_PATH $ISU2_SSH_PRIVATE_KEY_PATH)
ALL_HOSTS_NUMS=${#ALL_HOSTS[@]}

# Below variables are referenced by scripts. 
FRONTEND_HOSTS=($ISU1)
FRONTEND_HOSTS_SSH_PORT=($ISU1_SSH_PORT)
FRONTEND_HOSTS_SSH_USER=($ISU1_SSH_USER)
FRONTEND_HOSTS_SSH_PRIVATE_KEY=($ISU1_SSH_PRIVATE_KEY_PATH)
FRONTEND_HOSTS_PATH=($ISU1_DIR_NAME)
FRONTEND_HOSTS_NUMS=${#FRONTEND_HOSTS[@]}

APP_HOSTS=($ISU1)
APP_HOSTS_SSH_PORT=($ISU1_SSH_PORT)
APP_HOSTS_SSH_USER=($ISU1_SSH_USER)
APP_HOSTS_SSH_PRIVATE_KEY=($ISU1_SSH_PRIVATE_KEY_PATH)
APP_HOSTS_PATH=($ISU1_DIR_NAME)
APP_HOSTS_NUMS=${#APP_HOSTS[@]}

DB_HOSTS=($ISU2)
DB_HOSTS_SSH_PORT=($ISU2_SSH_PORT)
DB_HOSTS_SSH_USER=($ISU2_SSH_USER)
DB_HOSTS_SSH_PRIVATE_KEY=($ISU2_SSH_PRIVATE_KEY_PATH)
DB_HOSTS_PATH=($ISU2_DIR_NAME)
DB_HOSTS_NUMS=${#DB_HOSTS[@]}