[mysqld]
character-set-server=utf8mb4
log_output=FILE

bind-address=0.0.0.0 #他サーバーからアクセスするための設定

slow_query_log=1
slow_query_log_file=/var/log/mysql/mysql-slow.log
long_query_time=0
log-queries-not-using-indexes
general_log=1

innodb_buffer_pool_size=1GB #物理メモリの80%くらい
innodb_flush_method=O_DIRECT #OSの機能で2重にキャッシュしないように
innodb_flush_log_at_trx_commit=2

[mysql]
default-character-set=utf8mb4
[client]
default-character-set=utf8mb4
